/**
 * Sadly it is necessary to include an explicit style to modify -webkit-appearance otherwise Chrome posts warning
 * messages constantly if set by a CSS variable in TJSInputNumber.
 */
@container tjs-color-picker-container (min-width: 235px) {
    .tjs-color-picker .text-input input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: inner-spin-button;
    }
}

/* Necessary above --------------------------------------- */

.tjs-color-picker .text-input button {
    flex: 1;
    border: none;
    background-color: #eee;
    padding: 0;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.tjs-color-picker .text-input button {
    cursor: pointer;
    flex: 1;
    transition: background-color 0.2s;
}

.tjs-color-picker .text-input button:hover {
    background-color: #ccc;
}

.tjs-color-picker .text-input input:focus, button:focus {
    outline: none;
}

.tjs-color-picker.has-been-tabbed .text-input button:focus-visible {
    outline: 2px solid var(--tjs-color-picker-focus-color, red);
    outline-offset: 2px;
}
